body {
    padding-top: 51px;
}
.text-center {
    padding-top: 20px;
}
.container {
    text-align:center;
}
.col-xs-12 {
    background-color: #fff;
}

.prop {
    font-weight: bold;
}

div.row span {
    font-weight: bold;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
}
form.mapbbox-fgd{
    margin:0 auto;
    width:400px;
    position:relative;
}
form.mapbbox-fgd input[type="text"] {
    width:340px;

}

form.mapbbox-fgd ul,
form.mapbbox-fgd ul li {
    list-style: none;
    margin: 0;
    padding:0;
    text-align: left;

    margin: 2px 0 0;
}


form.mapbbox-fgd ul li:last-of-type {
    padding-bottom:6px;
}

form.mapbbox-fgd ul {
    position:absolute;
    z-index: 1000;
    width: 100%;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: white;
}

form.mapbbox-fgd ul li {
    padding-left: 12px;
    padding-top:6px;
    padding-bottom:6px;
}

form.mapbbox-fgd ul li:hover {
    cursor: pointer;
    cursor: hand;
    background-color:#e6e6e6;
}
